.listContainer {
    height: 100px;
    width: 99%;
    margin-bottom: 20px;
    margin-left: 3px
}


.thumbnails {
    width: 95px;
    height: 80px;
}


.c-button{
    background-color: #ccc;
    color: black;
    height: 28px;
    width: 95px;
    padding: 0px;
    border-radius: 0px;
    border: 1px solid black;
    font-size: 17px;
}

div.col.scoreHistory {
    display: block;
    margin: 0px;
    padding: 32px 0px;
    color: red
}


.gameName, .gamePoint {
    display: block;
    padding: 12px 0px
}

.gameName > p {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin-bottom: 16px
}

.gamePoint > p {
    font-size: 17px;
    margin: 0px;
}

.gamePoint > p.value {
    color: red
}

.scoreHistory > p {
    font-size: 17px;
}

.pageFooter {
    position: absolute;
    bottom: 99;
}