.listContainer {
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 3px
}

div.col {
    height: 100px;
    width: 100px;    
    padding: 0px;

}

.thumbnails {
    width: 95px;
    height: 80px;
}

.c-button{
    background-color: #ccc;
    color: black;
    height: 35px;
    width: 85px;
    padding: 0px;
    border-radius: 0px;
    border: 1px solid black;
    font-size: 17px;
}

div.col.scoreHistory {
    display: block;
    margin: 0px;
    padding: 32px 0px;
    color: red
}

.gamePoint > p {
    font-size: 17px;
}

.gamePoint>p.value {
    color: red
}

.scoreHistory > p {
    font-size: 17px;
}